div:has(> .foldersRedesigned-folderIcon) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.foldersRedesigned-folderIcon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.foldersRedesigned-sidebar {
  max-width: 72px;
  display: flex;
  grid-area: customGuildsList;
  margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
}

.foldersRedesigned-sidebar [class*="unreadMentionsBar"] {
  display: none;
}

body:has(div.foldersRedesigned-sidebar > nav.foldersRedesigned-sidebar)
  [class^="sidebar"]:has(div.foldersRedesigned-sidebar > nav.foldersRedesigned-sidebar) {
  width: calc(var(--custom-guild-sidebar-width) + 72px) !important;
}

@supports (grid-template-columns: subgrid) and (white-space-collapse: collapse) {
  html:is(.visual-refresh)
    div[class^="container"]
    > div[class^="base"]:has(
      > div > div > div.foldersRedesigned-sidebar > nav.foldersRedesigned-sidebar
    ) {
    grid-template-areas:
      "titleBar titleBar titleBar titleBar"
      "guildsList customGuildsList notice notice"
      "guildsList customGuildsList channelsList page" !important;
    grid-template-columns:
      [start] min-content
      [guildsEnd] min-content
      [customGuildsEnd] min-content
      [channelsEnd] 1fr
      [end] !important;
  }
}
