div:has(> .foldersRedesigned-folderIcon) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.foldersRedesigned-folderIcon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.foldersRedesigned-sidebar {
  max-width: 72px;
  display: flex;
}

.foldersRedesigned-sidebar [class*="unreadMentionsBar"] {
  display: none;
}
